@use '../../variables' as *;

.services {
  position: relative;
  overflow: hidden;
  box-shadow: inset 1px 1px 40px rgba(0,0,0,0.05);
  background-color: $color-tertiary;
  // clip-path: polygon(50% 0%, 100% 3%, 100% 100%, 0 100%, 0 4%);
  // clip-path: polygon(50% 0%, 100% 5%, 100% 100%, 0 100%, 0 5%);
  clip-path: polygon(61% 0, 100% 5%, 100% 60%, 100% 99%, 0 100%, 0 0, 29% 4%);
  transform: translateY(-60px);
  



  .service-wrapper {
    display: flex;
    justify-content: center;

    .service-item {
      text-align: center;
      max-width: 700px;
    }
  }

  .mock-wrapper {
    position: relative;
    max-width: 1000px;
    min-height: 650px;
    margin: auto;
  }

  .phone-mock {
    position: absolute;
    bottom: 155px;
    right: 95px;
    width: 250px;
  }

  .laptop-mock {
    position: absolute;
    bottom: 6px;
    left: 0;
    width: 600px;
  }
} 