@use '../../variables' as *;

.services {
  @extend .section-separator;
  position: relative;
  z-index: 1;
  padding-bottom: 0;
  background-color: $color-tertiary;
  transform: translateY(-80px);
  
  .section-intro {
    max-width: 38.889rem;
    margin: auto;
    text-align: center;
  }

  .service-wrapper {
    display: flex;
    justify-content: center;

    .service-item {
      text-align: center;
      max-width: 38.889rem;
    }
  }

  .mock-wrapper {
    position: relative;
    max-width: 44.444rem;
    min-height: 29.444rem;
    margin: auto;
  }

  .phone-mock {
    position: absolute;
    bottom: -180px;
    right: 12px;
    width: 150px;
  }

  .laptop-mock {
    position: absolute;
    bottom: -150px;
    left: 0;
    width: 500px;
  }

  @include mobile {
    .mock-wrapper {
      min-height: 22.444rem;
    }

    .phone-mock {
      z-index: 2;
      right: 12px;
      width: 150px;
    }

    .laptop-mock {
      width: 300px;
    }
  }
} 