@use '../../variables' as *;

.menu {
  background-color: $color-primary;

  .menu-wrapper {
    text-align: center;

    img {
      width: 100%;
      max-width: 1000px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
      border-radius: 1em;
    }
  }

  * {
    color: $color-light
  }
}