.coming-soon-container {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
}

.coming-soon-container .logo {
  width: 20rem;
  margin-bottom: 2rem;
}

.coming-soon-text {
  font-size: 2.5rem;
  font-weight: 700;
  color: #222;
  letter-spacing: 0.1em;
} 