@use '../../variables' as *;

#header {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: all .2s ease-in-out;
  padding: 1rem 0;

  * {
    color: $color-primary;
  }

  .logo {
    display: inline-block;
    text-decoration: none;
    color: $color-primary;
    font-size: 1.2rem;
    transition: all .3s ease-in-out;
  }

  .header-outer {
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: transparent;
    transition: all 0.2s ease-in-out;
  }

  .header-inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  > .container {
    position: relative;
    z-index: 100;
  }
  
  .nav-button {
    position: absolute;
    right: 30px;
    top: 20px;
    bottom: 0;
    margin: auto;
    display: none;

    @include mobile {
      display: block;
    }
  }

  @include mobile {
    .logo {
      width: 8rem;
    }

    .nav-button .menu-btn {
      width: 2.5rem;
    }
  }
}

body {
  #header {
    &.scrolled,
    &.not-in-homepage {
      padding: 0.5rem 0;
      background: rgba(255, 255, 255, 0.8);
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.06);
      backdrop-filter: blur(5px);
      font-size: 0.8rem;

      .logo {
        font-size: 1rem;
      }

      @include mobile {
        background: none;
        backdrop-filter: none;
        box-shadow: none;

        .logo {
          display: none;
        }
      }
    }
  }
}

.main-content.not-homepage {
  padding-top: 80px;
}
