@use '../../variables' as *;

.testimonials {
  @extend .section-separator;
  z-index: 3;
  position: relative;
  background-color: $color-light;
  transform: translateY(-130px);
  padding-bottom: 8rem;

  .testimonials__item {
    max-width: 400px;
    min-height: 500px;
    padding: 2rem;
    margin: auto;
    position: relative;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    background-color: $color-tertiary;
    box-shadow: -.112rem .112rem .5rem #0000001a;
    border: .5px solid rgba(0, 0, 0, .15);
    border-radius: $card-border-radius;
  }

  .testimonials__name {
    text-align: center;
  }

  .testimonials__content {
    font-size: 1rem;
    max-width: 300px;
    margin: auto;
    margin-bottom: 1.5rem;
    text-align: center;
    font-style: italic;
    opacity: 0.8;
  }

  .testimonials__image {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 1.5rem;
  }

  .testimonials__position {
    font-size: .8rem;
    opacity: 0.8;
  }

  @include mobile {
    .testimonials__item { 
      padding: 1rem;
      width: initial;
    }

    .testimonial-wrapper {
      margin-bottom: 1rem;
    }
  }
}