@use './variables' as *;

.section-sep {
    z-index: -1;
    position: absolute;
    top: -5.8rem;
    right: 0;
    left: 3.2rem;
    margin: auto;
}

body {
    .section-sep {
        @include mobile {
            width: 20.333rem;
            top: -3.5rem;
            left: 25px;
        }
    }

    .main-section {
        @include mobile {
            .main-section__title {
                transform: translateY(-4rem);
                font-size: 1.2rem;
                margin-bottom: -0.4rem;
            }
        }
    }
}

.cta-wrapper {
    text-align: center;
}
